#search-category{
    margin-bottom: 10px;
}

#category-list{
    padding-left: 10px;
}


.chosen-search input{
    min-height: 10px;
}

#category_list {
    width: 100px !important;
    margin-bottom: 15px;

}
.chosen-container-single{
    margin-bottom: 15px;
}
